<!DOCTYPE html>
<html>
  <head>
    <title>Demo Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <section class="hero is-info is-medium has-bg-img">
      <!-- Hero head will stick at the top -->
      <div class="hero-head">
        <div class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <%# image_tag("background.jpg", width: "100%") %>
              <%= link_to "Demo Blog", root_path, class: "navbar-item" %>
              <span class="navbar-burger burger" data="navbarMenuHero">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHero" class="navbar-menu">
              <div class="navbar-end">
                <%= link_to "Create New Post", new_post_path, class: "navbar-item" %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Hero content will be in the middle -->
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            <%= yield :page_title %>
          </h1>
        </div>
      </div>
    </section>

    <%= yield %>
  </body>
</html>
